<html>
<head>
<style>
table {
  font-family: Aptos, Aptos;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 3px solid black;
  text-align: center;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<h1 align='center'> Welcome to students Marks System </h1>
<body style="background-color:Orange";>
<table>
<tr>
<th>StudentName</th>
<th>StudentRollNo</th>
<th>Marathi</th>
<th>English</th>
<th>Hindi</th>
<th>Maths</th>
<th>Science</th>
<th>TotalMarks</th>
<th>Percentage</th>
<th>Grade</th>
</tr>
<td>%value Name%</td>
<td>%value RollNo%</td>
<td>%value Marathi%</td>
<td>%value English%</td>
<td>%value Hindi%</td>
<td>%value Maths%</td>
<td>%value Science%</td>
<td>%value TotalMarks%</td>
<td>%value Percentage%</td>
<td>%value Grade%</td>
</table>
</body>
</html>